*
{
    padding:0px; margin: 0px;
    box-sizing: border-box; width: 100%;
    cursor: pointer;
}

img{width:100%;}
.header-bar { width:100%;height:12vh;background-color: brown; display: flex;align-items: center;

position: fixed;
top:0;
color:white;
}
.logo { text-align: center;}
.nav-links > ul
{
 list-style-type: none;
 display: flex;
 flex-direction: row;
}
ul> li {text-align: center;align-self: center; }
ul> li > a 
{
    text-decoration: none;
    color:white;
}
#logo-name
{
    font-size: 25px;
}

.main-page
{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url('/imagess/about.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#btn{ width: 8%;height: 6vh;border-radius: 35px;border:2px solid white;background-color: transparent;color: white;}
#main-page-tagline { font-size: 45px;color: white;padding: 1%;}
#main-page-detail { color: white;} 
.about-us {  display: flex; }


.services { display: flex;flex-direction: column; padding: 3%;}
#services-content { text-align: center;font-size: 35px;padding: 2%;}
.card { width:100%;display: grid;grid-template-rows: 1fr 1fr 1fr; height: 40vh;background-color: wheat;} 
.card-img > img { width: 30%;}
.card-img {text-align: center;}
#card-title { font-weight: 800;text-align: center;} 
.card-cover-1 { padding: 4%;width:30% } 
#card-content{ width: 95%;}
.card-cover-2 { padding: 4%;width:30%  } 
.card-cover-3 { padding: 4%;width:30%  } 
.card-cover-4 { padding: 4%;width:30%  } 
.card-cover-5 { padding: 4%;width:30%  } 
.card-cover-6 { padding: 4%;width:30%  } 
.card-container { flex-wrap: wrap;}